<%- include ( '../partials/topHtmlPlate') %>



<h1> Welcome to Friends Jobs Page </h1>
<% for (let i=0;i<Jobs.length; i++) { %> 
    <hr>
    
    <div>
    <p><img src=<%=Jobs[i].img%> alt=" Job img" width="500" height="300"></p>
    <hr>
     <h2><%=Jobs[i].title%></h2><br> <br>
        
    Content: <p><%=Jobs[i].detail%></p> <br> <br>
    
    </div>
    <form action="/jobs/alljobs/<%=Jobs[i].id%>?_method=DELETE" method="POST">

        <a href="/jobs/newjob"> <input type="button" value="Create Job" /></a>
        
        <a href="/jobs/alljobs/<%=Jobs[i].id%>/edit"> <input type="button" value="Edit Job" /></a>
        
        <input type="submit" value="Delete Job" />
        
        
        
        </form> 


   <hr>
    
    <%}%>


<%- include ( '../partials/bottomHtmlPlate') %>