<%- include ('../partials/topHtmlPlate') %>

<h1>Welcome <%=user.name%></h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">

        Name: <input type="text" name="name" value="<%=user.name%>" /><br> <br>
        
        Username: <input type="text" name="username" value=<%=user.username%> /> <br> <br>

        Password: <input type="text" name="password" value=<%=user.password%> /><br> <br>

       Email: <input type="text" name="email" value="<%=user.email%>" /><br> <br>

        About Me: <input type="text" name="aboutme" value="<%=user.aboutme%>" /><br> <br>

       Photo: <input type="text" name="photo" value="<%=user.photo%>" /><br> <br>

        Phone: <input type="text" name="phone" value="<%=user.phone%>" /><br> <br>

        Address: <input type="text" name="address" value="<%=user.address%>" /><br> <br>

        <input type="submit" value="Edit Profile" />
    </form>

        <form action="/users/<%= user.id %> ?_method=DELETE" method="POST">
            <input type="submit" value="Delete User" />
        </form>
        
        
        <br>
        <a href="/users/profile/<%=user.id%>/newjob"><input type="button" value="Add Job " /> </a>
        <a href="/users/profile/<%=user.id%>/newpost"><input type="button" value="Add Post " /> </a>
        <a href="/users/usersdetail"><input type="button" value="View All Users" /> </a>
        <a href="/users/login"><input type="button" value="Signout " /> </a>
    

<div class="divtemp">
        <% for( let i=0; i<user.Posts.length; i++) { %> 
            <hr>
            <p><%= user.Posts[i].title %></p>
            <p><%= user.Posts[i].postbody %></p>
            
            <form action="/posts/allposts/<%=user.Posts[i].id%>/<%=user.id%>/delite?_method=DELETE" method="POST">
       
                <input type="submit" value="Delete Post" />   
                <a href="/posts/allposts/<%=user.Posts[i].id%>/<%=user.id%>/edit"><input type="button" value="Edit Post" /></a>            
            
            <%}%>
        </div>
<hr><hr>
            <% for( let i=0; i<user.Jobs.length; i++) { %> 
                <hr>
                <p><img src=<%=user.Jobs[i].img%> alt=" Job img" width="500" height="300"></p>
                <p><%= user.Jobs[i].title %></p>
                <p><%= user.Jobs[i].detail %></p>
                
                <form >
           
                    <input type="submit" value="Delete Job" />              
                
                <%}%>


<%- include( '../partials/bottomHtmlPlate') %>