<%- include ( '../partials/topHtmlPlate') %>



<h1> Welcome to Friends Posts Page </h1>

    
    <form action="/posts/allposts/<%=post.id%>/<%=p%>/edit?_method=PUT" method="POST">

    Title: <input type="text" name="title" value="<%=post.title%>" /><br> <br>
        
    Content: <input type="text" name="postbody" value="<%=post.postbody%>" /> <br> <br>

    Comments: <input type="text" name="comment" value="<%=post.comment%>" /><br> <br>

     like: <input type="text" name="like" value="<%=post.like%>" /><br> <br>

     Post Date: <input type="text" name="createdAt" value="<%=post.createdAt%>" /><br> <br>
  
   <input type="submit" value="Edit Post" />

</form>

<%- include ( '../partials/bottomHtmlPlate') %>