<%- include ('../partials/boottop') %>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
       
        <div class="col-sm-4 offset-md-1 py-4">
          
          <ul id="headerMenu" class="list-unstyled">
            <li><a href="/users/login" class="text-white">Signout</a></li> 
            <li><a href="/users/usersdetail" class="text-white">Blogers </a></li>
            <li><a href="/jobs/alljobsnoEdit" class="text-white">Jobs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Friends Blog</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

    <main>
  
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Friends Blogs</h1>
            <p class="lead text-muted">This disclaimer informs readers that the views, thoughts, and opinions expressed in the text belong solely to the author, and not necessarily to the author's employer, organization, committee or other group or individual.</p>
            <p>
             
              <a href="/users/usersdetail" class="btn btn-secondary my-2">Blogger List </a>
            </p>
          </div>
        </div>
      </section>
     
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for (let i=0;i<posts.length; i++) { %> 
            <div class="col">
              <div class="card shadow-sm">
    
                <div class="divbackcolor" class="card-body">

              
                                
                    <form >
                     <label class="labelst" for="ti">Title : </label> <input type="text" class="divbackcolor1" name="title" id="ti" value="<%=posts[i].title%>" /><br> <br>
                        
                  <textarea id="bd" class="divbackcolor1" name="w3review" rows="4" cols="50"><%=posts[i].postbody%></textarea>
                    
                
                  
                     <label class="labelst" for="cm">   Comments :</label> <input id="cm" type="text" name="comment" value="<%=posts[i].comment%>" /><br> <br>
                
                   <label class="labelst" for="">Post Date :</label><br><%=''+posts[i].createdAt%>
                
                 </form>   
                       <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Like:<%=posts[i].like%></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a>Share</a></button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    
    </main>

    <footer class="text-muted py-5">
      <div class="container">
        
        <p class="mb-1">Friends Blog is &copy; Code for Good   <a href="https://generalassemb.ly/">GA</a></p>
      </div>
    </footer>
    <%- include( '../partials/bootBott') %>